/* ----------------------背景---------------------- */
body{
    background-color: #1a1a1a;
}
/* ----------------------背景结束---------------------- */


/* ----------------------1000px版心---------------------- */
.A__centerpage{
    width: 1000px;
    margin: 0 auto;
    background-color: #1a1a1a;
}
/* ----------------------1000px版心结束---------------------- */


/* ----------------------所有盒子的标准宽度---------------------- */
.B__w{
    width: 900px;
    padding-top: 45px;
    margin: 0 auto;
}
/* ----------------------所有盒子的标准宽度结束---------------------- */


/* ----------------------头部---------------------- */
/* 头部 */
.C__hearder{
    position: relative;
}

/* LOGO */
.D__logo{
    position: absolute;
    bottom: 0;
    right: 0;
}

.D__logo img{
    height: 115px;
}

/* h1优化 */
.C__hearder h1{
    color: white;
    font-family: "Courier New", Monospace;
    font-size: 0px;
}

/* 网站像素字 */
.C__hearder pre{
    color: white;
    font-family: "Courier New", Monospace;
    font-size: 13px;
    font-weight: 400;
}
/* ----------------------头部结束---------------------- */


/* ----------------------通栏---------------------- */
.C__nav{
    padding-top: 15px;
}

/* 中间的选项 */
.D__bar{
    height: 18px;
    border-left: 1px solid #fff;
}

/* 中间的选项 */
.D__bar li{
    float: left;
    padding: 0 20px;
    height: 18px;
    border-right: 1px solid #fff;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: 500;
}

/* a连接的颜色 */
.D__bar a{
    color: #00ff0c;
}

/* ----------------------通栏结束---------------------- */


/* ----------------------文章开始---------------------- */
/* 文章整体盒子 */
.C__article{
    padding-top: 55px;
}

/* 文章标题 */
.D__articleTitle{
    margin-bottom: 13px;
    color: white;
    line-height: 35px;
    font-weight: 700;
    font-size: 35px;
}

/* 文章时间 */
.D__articleContent-time{
    margin-bottom: 30px;
    color: #989898;
    line-height: 15px;
    font-size: 15px;
}

/* 文章正文 */
.D__articleContent p{
    margin-bottom: 25px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

/* 文章图片 */
.D__articleContent img{
    margin-bottom: 25px;
}

/* 文章一级标题 */
.D__articleContent h1{
    padding-top: 25px;
    margin-bottom: 30px;
    color: white;
    line-height: 26px;
    font-weight: 700;
    font-size: 26px;
    text-decoration: underline;
}

/* 文章二级标题 */
.D__articleContent h2{
    padding-top: 25px;
    margin-bottom: 30px;
    color: white;
    line-height: 25px;
    font-weight: 700;
    font-size: 25px;
    text-decoration: underline;
}

/* 文章三级标题 */
.D__articleContent h3{
    padding-top: 25px;
    margin-bottom: 30px;
    color: white;
    line-height: 23px;
    font-weight: 700;
    font-size: 23px;
    text-decoration: underline;
}

/* 文章四级标题 */
.D__articleContent h4{
    padding-top: 25px;
    margin-bottom: 30px;
    color: white;
    line-height: 20px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: underline;
}

/* 文章链接 */
.D__articleContent a{
    color: #00ff0c;
    text-decoration: underline;
}

.D__articleContent a:hover{
    color: #ff0000;
}

/* 代码快设置 */
code{
    display: inline-block;
    width: 870px;
    padding: 10px 10px 10px 20px;
    margin-bottom: 25px;
    background-color: #4f4f4f;
    color: white;
    font-size: 18px;
    font-family: Georgia;
}

p code{
    display: inline-block;
    width: auto;
    padding: 0 8px;
    margin-bottom: 0;
    background-color: #4f4f4f;
    color: white;
    font-size: 18px;
    font-family: Georgia;
}

/* 声明快 */
.D__articleState{
    padding: 10px 30px;
    margin-bottom: 0;
    background-color: #434343;
    border-left:10px solid #00ff0c;
    color: white;
    font-size: 18px;
    font-family: Georgia;
}
/* ----------------------文章结束---------------------- */


/* ----------------------足部开始---------------------- */
.B__footer{
    height: 45px;
    margin-top: 45px;
    border-top: 1px solid white;
}

/* 文字 */
.C__text{
    float: right;
    padding-top: 5px;
    color: white;
    font-size: 10px;
}

/* ----------------------足部结束---------------------- */
